<div class="panel panel-card">
    <div ng-cloak>
        <md-grid-list md-cols-xs="3" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1"
                      md-row-height="2:2"
                      md-gutter="12px" md-gutter-gt-sm="8px">

            <md-grid-tile class="green">
                <img ng-src="images/a3.jpg" class="md-avatar" alt="item-image"/>
                <md-grid-tile-footer>
                    <h3>Sumit Singh</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <img ng-src="images/a5.jpg" class="md-avatar" alt="item-image"/>
                <md-grid-tile-footer>
                    <h3>Sumit Singh</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <img ng-src="images/a1.jpg" class="md-avatar" alt="item-image"/>
                <md-grid-tile-footer>
                    <h3>Sumit Singh</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <img ng-src="images/a2.jpg" class="md-avatar" alt="item-image"/>
                <md-grid-tile-footer>
                    <h3>Sumit Singh</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <img ng-src="images/a4.jpg" class="md-avatar" alt="item-image"/>
                <md-grid-tile-footer>
                    <h3>Sumit Singh</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

        </md-grid-list>
    </div>
</div>