<div class="panel panel-card clearfix">
    <div class="p-h b-b b-light">
        <ul class="nav nav-lines nav-md b-info">
            <li class="active"><a href>Stream</a></li>
            <li><a href>Photos <span class="badge">3</span></a></li>
            <li><a href>Posts <span class="badge">9</span></a></li>
        </ul>
    </div>
    <div class="p-h-lg m-b-lg">
        <div class="streamline b-l p-v m-l-xs">
            <div>
                <a class="pull-left w-32 m-l-n m-t-xs m-r">
                    <img src="images/a2.jpg" class="img-responsive rounded" alt="...">
                </a>
                <div class="clear">
                    <div class="m-b-xs">
                        <a href>James</a> said
                        <span class="text-muted block text-xs">
                  Just now
                </span>
                    </div>
                    <div class="m-b">
                        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id
                            neque quam. Aliquam sollicitudin
                        </div>
                        <div class="m-t-sm">
                            <a href class="text-muted m-xs">Like</a>
                            <a href class="text-muted m-xs">Comment</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a class="pull-left w-32 m-l-n m-t-xs m-r">
                    <img src="images/a3.jpg" class="img-responsive rounded" alt="...">
                </a>
                <div class="clear">
                    <div class="m-b-xs">
                        <a href>Oscar</a> upload a file
                        <span class="text-muted block text-xs">
                  3 minutes ago
                </span>
                    </div>
                    <div class="m-b">
                        <div class="w-xl w-auto-xs">
                            <div class="box bg-light">
                                <div class="box-col w-xs text-center dk p-md v-m">
                                    <i class="fa fa-file-text-o text-3x text-muted-lt"></i>
                                </div>
                                <div class="box-col p">
                                    <a href>Geuismod tincidunt</a>
                                    <div>Diam nonummy nibh euismod tincidunt ut laoreet.</div>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-sm">
                            <a href class="text-muted m-xs">Like</a>
                            <a href class="text-muted m-xs">Comment</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a class="pull-left w-32 m-l-n m-t-xs m-r">
                    <img src="images/a4.jpg" class="img-responsive rounded" alt="...">
                </a>
                <div class="clear">
                    <div class="m-b-xs">
                        <a href>Anny</a> post a photo
                        <span class="text-muted block text-xs">
                  6 minutes ago
                </span>
                    </div>
                    <div class="m-b">
                        <div><img src="images/a10.jpg" class="b p-xs"></div>
                        <div class="m-t-sm">
                            <a href class="text-muted m-xs">Like</a>
                            <a href class="text-muted m-xs">Comment</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a class="pull-left w-32 m-l-n m-t-xs m-r">
                    <img src="images/a5.jpg" class="img-responsive rounded" alt="...">
                </a>
                <div class="clear">
                    <div class="m-b-xs">
                        <a href>Michel</a> post a comment
                        <span class="text-muted block text-xs">
                  10 minutes ago
                </span>
                    </div>
                    <div class="m-b bg-light">
                        <div class="p-sm b-b b-white">
                            <img src="images/a4.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                            <a href>Tony</a> liked it
                        </div>
                        <div class="p-sm">
                            <img src="images/a6.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                            <a href>Anney</a> Commented it
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>