<div class="panel panel-card">
    <form>
        <textarea class="form-control no-border" rows="3" placeholder="Write something..."></textarea>
    </form>
    <div class="lt p">
        <button class="btn btn-info pull-right btn-sm p-h font-bold">Post</button>
        <ul class="nav nav-pills nav-sm">
            <li><a href><i class="fa fa-camera"></i></a></li>
            <li><a href><i class="fa fa-video-camera"></i></a></li>
        </ul>
    </div>
</div>