<!------- Organisational Details ------------------------------------------------------------>
<div class="p-md bg-light lt b-b font-bold">Change Password</div>
<div layout="column" layout-padding ng-cloak class="md-inline-form">
    <div class="col-md-12">
        <form name="changePasswordForm">
            <md-content layout-full>
                <md-input-container class="md-block">
                    <label>Current Password</label>
                    <input ng-model="user.current_password" type="password" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>New Password</label>
                    <input ng-model="user.new_password" type="password" required minlength="6">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm New Password</label>
                    <input ng-model="user.confirm_new_password" type="password" required>
                </md-input-container>
                <button type="submit" class="btn btn-info pull-right" ng-click="changeUserPassword(user)"
                        ng-disabled="changePasswordForm.$invalid || (user.new_password != user.confirm_new_password)">
                    Change
                </button>
                <button type="button" class="btn btn-info" ng-click="cancel()">Cancel</button>
            </md-content>
        </form>
    </div>
</div>