<!------- Contact Details ------------------------------------------------------------>
<div class="p-md bg-light lt b-b font-bold">Contact Details</div>
<div ng-controller="ContactsSettingsController" layout="column" layout-padding ng-cloak class="md-inline-form">
    <form role="form" name="userForm" class="col-sm-12">
        <md-content class="md-no-momentum">
            <md-subheader class="md-no-sticky">Phone Numbers</md-subheader>
            <div layout-gt-xs="row" flex-gt-xs ng-repeat="(index, phone_number) in phone_numbers">
                <md-input-container class="md-block" style="margin-right: 10px;">
                    <label>Type</label>
                    <md-icon class="mdi-maps-local-phone i-24"></md-icon>
                    <md-select ng-model="type">
                        <md-option ng-repeat="(index, contact_lable_type) in contact_lable_types"
                                   ng-value="contact_lable_type"
                                   ng-selected="(contact_lable_type._id == phone_number._type_id) ? true : false">
                            {{ contact_lable_type.label_name }}
                        </md-option>
                        <md-option>
                            Custom
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout-xs="row">
                    <md-input-container class="md-icon-float">
                        <label>Phone Number</label>
                        <input ng-model="phone_number.number" type="text">
                    </md-input-container>
                    <md-button class="md-primary" type="submit" ng-click="DeletePhoneNumber(index, phone_number._id)"
                               style="max-height: 32px; margin-top:24px">Delete
                    </md-button>
                </div>
            </div>
            <div layout-gt-xs="row" flex-gt-xs>
                <md-input-container class="md-block" style="margin-right: 10px;">
                    <label>Type</label>
                    <md-icon class="mdi-maps-local-phone i-24"></md-icon>
                    <md-select ng-model="new_phone_number.type">
                        <md-option ng-repeat="contact_lable_type in contact_lable_types" ng-value="contact_lable_type"
                                   ng-selected="(contact_lable_type._id == '') ? true : false">
                            {{ contact_lable_type.label_name }}
                        </md-option>
                        <md-divider></md-divider>
                        <md-option ng-click="createCustomLabel()">
                            Custom
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout-xs="row">
                    <md-input-container class="md-icon-float">
                        <label>Phone Number</label>
                        <input ng-model="new_phone_number.number" type="text">
                    </md-input-container>
                    <md-button class="md-primary" type="submit" ng-click="AddPhoneNumber(new_phone_number)"
                               style="max-height: 32px; margin-top:24px">Add
                    </md-button>
                </div>
            </div>
            <md-subheader class="md-no-sticky m-b">Email Addresses</md-subheader>
            <div layout-gt-xs="row" flex-gt-xs>
                <md-input-container class="md-block" style="margin-right: 10px;">
                    <label>Type</label>
                    <md-icon class="mdi-communication-email i-24"></md-icon>
                    <md-select ng-model="phone_type[0]">
                        <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
                    </md-select>
                </md-input-container>
                <div layout-xs="row">
                    <md-input-container class="md-icon-float">
                        <label>Phone Number</label>
                        <input ng-model="user.phone[0]" type="text">
                    </md-input-container>
                    <md-button class="md-primary" type="submit"
                               style="max-height: 32px; margin-top:24px">Delete
                    </md-button>
                </div>
            </div>
            <div layout-gt-xs="row" flex-gt-xs>
                <md-input-container class="md-block" style="margin-right: 10px;">
                    <label>Type</label>
                    <md-icon class="mdi-communication-email i-24"></md-icon>
                    <md-select ng-model="email_type[0]">
                        <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
                    </md-select>
                </md-input-container>
                <div layout-xs="row">
                    <md-input-container class="md-icon-float">
                        <label>Phone Number</label>
                        <input ng-model="user.phone[0]" type="text">
                    </md-input-container>
                    <md-button class="md-primary" type="submit"
                               style="max-height: 32px; margin-top:24px">Add
                    </md-button>
                </div>
            </div>
        </md-content>
        <button type="submit" class="btn btn-info pull-right">Save</button>
    </form>
</div>