<style>
    .file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .js .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label {
        max-width: 80%;
        font-size: 1.25rem;
        /* 20px */
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
        /* 10px 20px */
    }

    .no-js .inputfile + label {
        display: none;
    }

    .inputfile:focus + label,
    .inputfile.has-focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

    .inputfile + label * {
        /* pointer-events: none; */
        /* in case of FastClick lib use */
    }

    .inputfile + label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        /* 4px */
        margin-right: 0.25em;
        /* 4px */
    }

    /* style 1 */

    .inputfile + label {
        color: #f1e5e6;
        background-color: #d3394c;
    }

    .inputfile:focus + label,
    .inputfile.has-focus + label,
    .inputfile + label:hover {
        background-color: #722040;
    }

</style>
<div layout="column" layout-padding>
    <div class="row text-center">
        <div class="col-sm-12" style="background-color: #dfc8ca;">
            <div class="m-t-sm m-r-xs m-b-xs">
                <div class="card" style="height:256px">
                    <img-crop
                            image="myImage"
                            result-image="myCroppedImage"
                            result-image-size="128"
                            area-type="{{ cropType }}"
                    ></img-crop>
                </div>
                <div class="text-center" ng-hide="uploadPic">
                    <form name="up.upload_form" id="myForm" ng-submit="uploadPicture(up)">
                        <input type="file" ngf-select name="up.profilePic" id="profilePic" class="file inputfile"
                               file-model="up.profilePic" ng-model="up.profilePic"/>
                        <label for="profilePic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
                            </svg>
                            <span>Choose a file&hellip;</span>
                        </label>
                    </form>
                </div>
                <div class="form-group" ng-show="uploadPic">
                    <div class="text-center m m-b">
                        <button form="myForm" type="submit" md-ink-ripple class="btn btn-rounded btn-default">Upload
                        </button>
                        <button md-ink-ripple class="btn btn-rounded btn-danger p-h-md" ng-click="clear()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>