<!------- Notification Details ------------------------------------------------------------>
<div class="p-md bg-light lt b-b font-bold">Notification Settings</div>
<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-full>
        <div>
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">Email Notifications</md-subheader>
                <md-list-item>
                    <md-icon class="mdi-notification-event-note i-24"></md-icon>
                    <p> News and Updates </p>
                    <md-switch ng-change="onChangeNotification(notification.email_news, 'email_news')"
                               class="md-secondary" ng-model="notification.email_news"></md-switch>
                </md-list-item>
                <md-list-item>
                    <md-icon class="mdi-notification-mms i-24"></md-icon>
                    <p> Offers </p>
                    <md-switch ng-change="onChangeNotification(notification.email_offers, 'email_offers')"
                               class="md-secondary" ng-model="notification.email_offers"></md-switch>
                </md-list-item>
            </md-list>
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">Mobile Notifications</md-subheader>
                <md-list-item>
                    <md-icon class="mdi-notification-event-note i-24"></md-icon>
                    <p>News and Updates</p>
                    <md-switch ng-change="onChangeNotification(notification.mobile_news, 'mobile_news')"
                               class="md-secondary" ng-model="notification.mobile_news"></md-switch>
                </md-list-item>
                <md-list-item>
                    <md-icon class="mdi-notification-mms i-24"></md-icon>
                    <p>Offers</p>
                    <md-switch ng-change="onChangeNotification(notification.mobile_offers, 'mobile_offers')"
                               class="md-secondary" ng-model="notification.mobile_offers"></md-switch>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>