<!------- Public Details ------------------------------------------------------------>
<div class="p-md bg-light lt b-b font-bold">Public profile</div>
<div layout="column" layout-padding ng-cloak class="md-inline-form">
    <md-content layout-full>
        <div class="col-md-9 col-sm-12">
            <form name="userForm">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input ng-model="user_info.first_name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input ng-model="user_info.last_name" type="text">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nick Name</label>
                    <input ng-model="user_info.nick_name" type="text">
                </md-input-container>
                <md-radio-group class="md-block" ng-model="user_info.sex" ng-value="user.sex">
                    <md-radio-button value="1">
                        Male
                    </md-radio-button>
                    <md-radio-button value="0" style="margin-left: 25px">
                        Female
                    </md-radio-button>
                </md-radio-group>
                <div class="md-inline-form"
                     style="margin-top: 38px; margin-bottom: 43px; margin-left: -17px">
                    <md-datepicker ng-model="user_info.dob" md-placeholder="Birthday"></md-datepicker>
                </div>
                <button type="submit" class="btn btn-info pull-right" ng-click="changeMemberInfo(user_info)">Save</button>
            </form>
        </div>
    </md-content>
</div>