<ul class="nav navbar-tool">
    <li>
        <md-button href aria-label="Delete" ng-click="" class="no-margin">
            <i class="mdi-action-delete i-24"></i>
        </md-button>
    </li>
</ul>
