.badge,
.label {
  font-weight: bold;
  background-color: @badge-bg;
}

.badge.bg-light,
.badge.bg-white,
.label.bg-light,
.label.bg-white {
  text-shadow: none;
  color: @text-color;
}

.label {
  padding: 0.35em .6em;
}

.badge {
  padding: 3px 6px;
  &.up {
    position: relative;
    top: -10px;
    margin: 0 -0.5em;
  }
}

.badge-lg {
  border-radius: 20px;
  font-size: @font-size-md;
  padding: 5px 9px;
}

.badge-sm {
  padding: 2px 5px;
}

.badge-xs {
  padding: 1px 4px;
}

.label-lg {
  font-size: @font-size-md;
  padding: 5px 9px;
}

.label-sm {
  padding: 2px 5px;
}

.label-xs {
  padding: 1px 4px;
}

.badge-white {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 2px 6px;
}

.badge-black {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: inherit;
}
