.table {
  .panel & {
    border-color: @table-border-color !important;
  }
  > tbody,
  > tfoot {
    > tr {
      > td,
      > th {
        padding: 12px 24px;
        border-top: 1px solid @table-border-color;
      }
    }
  }
  > thead > tr > th {
    padding: 12px 24px;
    border-bottom: 1px solid @table-border-color;
  }
}

.table-bordered {
  border-color: @table-border-color;
  > tbody {
    > tr {
      > td,
      > th {
        border-color: @table-border-color;
      }
    }
  }
  > thead > tr > th {
    border-color: @table-border-color;
  }
}

.table-striped {
  > tbody {
    > tr {
      &:nth-child(odd) {
        > td,
        > th {
          background-color: @table-striped-color;
        }
      }
    }
  }
  > thead {
    > th {
      background-color: @table-striped-color;
      border-right: 1px solid @table-border-color;
      &:last-child {
        border-right: none
      }
    }
  }
}
