.ui-checks {
  padding-left: 20px;
  cursor: pointer;
  input {
    opacity: 0;
    position: absolute;
    margin-left: -20px;
    &:checked + i {
      border-color: @ui-checks-checked-border;
      &:before {
        left: (@ui-checks-size - @ui-checks-sign-size - 2)/2;
        top: (@ui-checks-size - @ui-checks-sign-size - 2)/2;
        width: @ui-checks-sign-size;
        height: @ui-checks-sign-size;
        background-color: @ui-checks-sign-color;
      }
    }
    &:checked + span .active {
      display: inherit;
    }
    &[type="radio"] + i {
      &,
      &:before {
        border-radius: 50%;
      }
    }
    &[type="checkbox"]:checked + i:before {

    }
    &[type="radio"]:checked + i:before {

    }
    &[disabled],
    fieldset[disabled] & {
      & + i {
        border-color: lighten(@input-border, 5%);
        &:before {
          background-color: lighten(@input-border, 5%);
        }
      }
    }
  }
  > i {
    width: @ui-checks-size;
    height: @ui-checks-size;
    line-height: 1;
    border: 1px solid @input-border;
    background-color: #fff;
    margin-left: -20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0px;
      height: 0px;
      background-color: transparent;
      .transition(all 0.2s);
    }
  }
  > span {
    margin-left: -20px;
    .active {
      display: none;
    }
  }
}

.ui-checks-md {
  input {
    &:checked + i {
      &:before {
        left: (@ui-checks-md-size - @ui-checks-sign-size - 2)/2;
        top: (@ui-checks-md-size - @ui-checks-sign-size - 2)/2;
      }
    }
  }
  > i {
    width: @ui-checks-md-size;
    height: @ui-checks-md-size;
  }
}

.ui-checks-lg {
  input {
    &:checked + i {
      &:before {
        width: @ui-checks-sign-size * 2;
        height: @ui-checks-sign-size * 2;
        left: (@ui-checks-lg-size - @ui-checks-sign-size * 2 - 2)/2;
        top: (@ui-checks-lg-size - @ui-checks-sign-size * 2 - 2)/2;
      }
    }
  }
  > i {
    width: @ui-checks-lg-size;
    height: @ui-checks-lg-size;
  }
}