.hover-action {
  display: none;
}

.hover-rotate {
  .transition(all .2s ease-in-out .1s)
}

.hover-anchor:hover,
.hover-anchor:focus,
.hover-anchor:active {
  .hover-action {
    display: inherit;
  }
  .hover-rotate {
    .rotate(45deg)
  }
}