.no-margin {
  margin: 0
}

.m {
  margin: 16px
}

.m-xs {
  margin: 4px
}

.m-sm {
  margin: 8px
}

.m-md {
  margin: 24px
}

.m-lg {
  margin: 32px
}

.m-v-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m-v-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-v {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-v-md {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-v-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m-h-xs {
  margin-left: 4px;
  margin-right: 4px;
}

.m-h-sm {
  margin-left: 8px;
  margin-right: 8px;
}

.m-h {
  margin-left: 16px;
  margin-right: 16px;
}

.m-h-md {
  margin-left: 24px;
  margin-right: 24px;
}

.m-h-lg {
  margin-left: 32px;
  margin-right: 32px;
}

.m-t {
  margin-top: 16px;
}

.m-t-xs {
  margin-top: 4px;
}

.m-t-sm {
  margin-top: 8px;
}

.m-t-md {
  margin-top: 24px;
}

.m-t-lg {
  margin-top: 32px;
}

.m-r {
  margin-right: 16px;
}

.m-r-xs {
  margin-right: 4px;
}

.m-r-sm {
  margin-right: 8px;
}

.m-r-md {
  margin-right: 24px;
}

.m-r-lg {
  margin-right: 32px;
}

.m-b {
  margin-bottom: 16px;
}

.m-b-xs {
  margin-bottom: 4px;
}

.m-b-sm {
  margin-bottom: 8px;
}

.m-b-md {
  margin-bottom: 24px;
}

.m-b-lg {
  margin-bottom: 32px;
}

.m-l {
  margin-left: 16px;
}

.m-l-xs {
  margin-left: 4px;
}

.m-l-sm {
  margin-left: 8px;
}

.m-l-md {
  margin-left: 24px;
}

.m-l-lg {
  margin-left: 32px;
}

.m-n {
  margin: -16px
}

.m-h-n {
  margin-left: -16px;
  margin-right: -16px;
}

.m-v-n {
  margin-top: -16px;
  margin-bottom: -16px;
}

.m-l-n {
  margin-left: -16px;
}

.m-r-n {
  margin-right: -16px;
}

.m-t-n {
  margin-top: -16px;
}

.m-b-n {
  margin-bottom: -16px;
}
