<div class="modal-header">
    <h3 class="modal-title">New Domain</h3>
</div>
<div class="modal-body">
    <div class="row row-sm">
        <div class="col-sm-12">
            <div class="md-form-group">
                <input class="md-input" ng-model="domain.Name">
                <label>Domain Name</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="md-form-group">
                <input class="md-input" ng-model="domain.Url">
                <label>URL</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="md-form-group">
                <input class="md-input" ng-model="domain.Ip" required>
                <label>IP Address</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="md-form-group">
                <input class="md-input" ng-model="domain.Port" required>
                <label>Port Number</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="md-form-group">
                <input class="md-input" ng-model="domain.Type">
                <label>Website Type</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="md-form-group">
                <textarea class="md-input" ng-model="domain.Description" rows="4"></textarea>
                <label>Description</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok(domain)">OK</button>
</div>
