<div class="panel panel-default">
    <div class="panel-heading">
        Search: <input id="filter" ng-model="search.filter" type="text"
                       class="form-control input-sm w-auto inline m-r"/>
    </div>
    <div>
        <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
            <thead>
            <tr>
                <th data-toggle="true">
                    Permission
                </th>
                <th data-name="Display Name">
                    Display Name
                </th>
                <th data-sort-ignore="true">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Permission in Permissions">
                <td>{{ Permission.name }}</td>
                <td><a href>{{ Permission.display_name }}</a></td>
                <td>
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href ng-click="viewPermissionDialog(Permission)">View</a></li>
                            <li><a href ng-click="editPermissionsDialog(Permission)">Edit</a></li>
                            <li class="divider" ng-show="Permission.is_removable"></li>
                            <li ng-show="Permission.is_removable == 1"><a href ng-click="deletePermission(Permission)">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="5" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<a href class="md-btn md-fab md-fab-bottom-right pos-fix teal" ng-click="newRoleDialog()">
    <i class="mdi-content-add i-24"></i>
</a>