<div class="row row-sm">
    <div class="col-sm-3">
        <div class="panel panel-card">
            <div class="r-t pos-rlt" md-ink-ripple
                 style="background:url(images/a0.jpg) center center; background-size:cover">
                <div class="p-lg bg-white-overlay text-center r-t">
                    <a href class="w-xs inline">
                        <img src="images/a0.jpg" class="img-circle img-responsive">
                    </a>
                    <div class="m-b m-t-sm h2">
                        <span class="">Sumit Prasad</span>
                    </div>
                    <a class="btn btn-sm disable btn-success m-b p-h no-border">{{ other_user.friend_ship_status |
                        OtherUserFriendShipStatusFilter }}</a>
                </div>
            </div>
            <div class="text-center b-t b-b b-light">
                <a href class="inline md-ink-ripple m text-color " ui-toggle-class="hide, show"
                   target="#posts, #friends">
                    <span class="h3 block font-bold">250</span>
                    <em class="text-xs">Friends</em>
                </a>
            </div>
            <div class="p">
                <p>About</p>
                <p>I am the greatest !!. </p>
                <div class="m-v text-center">
                    <a class="text-muted">
                        <i class="fa ui-icon fa-facebook"></i>
                    </a>
                    <a class="text-muted">
                        <i class="fa ui-icon fa-twitter"></i>
                    </a>
                    <a class="text-muted">
                        <i class="fa ui-icon fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                        <md-tab label="Intro">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Personal Information</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-person i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>Sumit Prasad</h3>
                                            <p>Full Name</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-cake i-24"></md-icon>
                                        <div class="md-list-item-text">
                                            <h3>25-May-2016</h3>
                                            <p>Birthday</p>
                                        </div>
                                    </md-list-item>
                                    <md-divider></md-divider>
                                    <md-subheader class="md-no-sticky">Gender</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-maps-place i-24"></md-icon>
                                        <div class="md-list-item-text">
                                            <h3>Male</h3>
                                            <p>Sex</p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                        <md-tab label="Contacts">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Contact Numbers</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-hardware-phone-iphone i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>+91-87-6537-4719</h3>
                                            <p> Mobile Number </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                                <md-divider></md-divider>
                                <md-subheader class="md-no-sticky">Email Addresses</md-subheader>
                                <md-list flex>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-communication-email i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>summit@gmail.com</h3>
                                            <p> Email Address </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div></div>
        <div id="posts" ng-include="'views/application/sns/partials/posts_card.html'"></div>
        <div class="hide" id="friends">
            <div ng-include="'views/application/sns/partials/friends_card.html'"></div>
        </div>
    </div>
</div>
