<div class="panel panel-default">
    <div class="panel-heading">
        Search: <input id="filter" ng-model="search.filter" type="text"
                       class="form-control input-sm w-auto inline m-r"/>
    </div>
    <div>
        <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="6">
            <thead>
            <tr>
                <th data-toggle="true">
                    Full Name
                </th>
                <th data-hide="phone">
                    User Name
                </th>
                <th data-hide="phone,tablet">
                    Email
                </th>
                <th data-hide="phone,tablet" data-name="Registration Date">
                    Registration Date
                </th>
                <th data-hide="phone">
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in userData">
                <td>{{ user.FirstName + ' ' + user.LastName }}</td>
                <td><a href>{{ user.UserName }}</a></td>
                <td>{{ user.email }}</td>
                <td data-value="{{ user.RegistredAt | date}}">{{ user.RegistredAt | date}}</td>
                <td data-value="{{ user.Status }}"><span class="label"
                                                         ng-class="{ 'bg-success': user.Status == 1, 'bg-light': user.Status == 2, 'bg-warning': user.Status == 3 }"
                                                         title="{ 'Active': user.Status == 1, 'Suspended': user.Status == 2, 'Disabled': user.Status == 3 }">{{ user.Status | UserStatus }}</span>
                </td>
                <td>
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href>Sessions</a></li>
                            <li><a href>View</a></li>
                            <li><a href>Edit</a></li>
                            <li class="divider"></li>
                            <li><a href>Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="5" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green"><i class="mdi-editor-mode-edit i-24"></i></a>
