<div class="padding-out">
    <div class="box">
        <div class="col-md-3">
            <div style="background:url(images/a1.jpg) center center; background-size:cover">
                <div class="p-lg bg-white-overlay text-center">
                    <a href class="w-xs inline">
                        <img src="images/a1.jpg" class="img-circle img-responsive">
                    </a>
                    <div class="m-b m-t-sm h2">
                        <span class="text-black">{{ user_profile.user_details.first_name + ' ' +user_profile.user_details.last_name }}</span>
                    </div>
                    <p>
                        ({{ user_profile.user_details.nick_name ? user_profile.user_details.nick_name : 'Nick Name' }})
                    </p>
                    <a class="btn btn-sm m-b p-h no-border" ng-class="{ 'bg-warning': user_profile.activated == 0, 'bg-success': user_profile.activated == 1, 'bg-dark': user_profile.activated == 2, 'bg-danger': user_profile.activated == 3 }" ng-click="changeUserStatusDialog(user_profile.activated)">{{ user_profile.activated | UserStatus }}</a>
                </div>
            </div>
            <ul class="nav nav-lists b-t" ui-nav>
                <li class="active">
                    <a md-ink-ripple ui-sref="admin.users_settings.public" ng-click="showSettingsPanel('public')">Profile Settings</a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="admin.users_settings.account" ng-click="showSettingsPanel('account')">Account Settings</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 b-l bg-white bg-auto" ui-view>
        </div>
    </div>
</div>
