<div class="col-sm-12">
    <div style="background:url(images/a1.jpg) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center">
            <a href class="w-xs inline">
                <img src="{{ user.profile_pic }}" class="img-circle img-responsive">
            </a>
            <div class="m-b m-t-sm h2">
                <span class="text-black">{{ user.nick_name}}</span>
            </div>
            <a md-ink-ripple="" class="md-btn md-raised md-fab m-r pull-right bg-white">
                <md-icon class="mdi-image-edit i-24"></md-icon>
            </a>
        </div>
    </div>
    <ul class="nav nav-lists b-t" ui-nav>
        <li class="active">
            <a md-ink-ripple ui-sref="app.sp.public">Profile</a>
        </li>
        <li>
            <a md-ink-ripple ui-sref="app.sp.account">Account</a>
        </li>
        <li>
            <a md-ink-ripple ui-sref="app.sp.notifications">Notifications</a>
        </li>
    </ul>
</div>