<div class="p-lg panel md-whiteframe-z1 text-color m">
    <div class="m-b-md">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeMsg($index)">{{alert.msg}}</alert>
    </div>
    <form name="form">
        <button md-ink-ripple type="submit" ui-sref="authentication.signin"
                class="md-btn md-raised pink btn-block p-h-md">Sign in
        </button>
    </form>
</div>