<div class="panel panel-default md-whiteframe-z1 text-color m">
    <div class="panel-heading text-center">
        Installing {{app.name}} [Step - 3]
    </div>
</div>
<div class="panel panel-default md-whiteframe-z1 text-color m">
    <table class="table table-striped m-b-none">
        <tbody>
        <tr>
            <td class="text-success">Creating Admin User.......</td>
            <td class="pull-right">
                    <span class="badge bg-primary" ng-show="admin_created">
                         <i class="fa fa-check"></i>
                    </span>
            </td>
        </tr>
        <tr ng-show="admin_created">
            <td class="text-success">Creating Client.......</td>
            <td class="pull-right">
                    <span class="badge bg-primary" ng-show="client_created">
                         <i class="fa fa-check"></i>
                    </span>
            </td>
        </tr>
        <tr ng-show="client_created">
            <td class="text-success">Updating Database.......</td>
            <td class="pull-right">
                    <span class="badge bg-primary" ng-show="database_updated">
                         <i class="fa fa-check"></i>
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="m" ng-show="!admin_created || !client_created || !database_updated">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeMsg($index)">{{alert.msg}}</alert>
</div>
<div class="panel panel-default md-whiteframe-z1 text-color m"
     ng-show="admin_created && client_created && database_updated">
    <div class="panel-heading">
        Admin User Details (you can change later)
    </div>
    <table class="table table-striped m-b-none">
        <tbody>
        <tr>
            <td>Full Name</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ admin.first_name + ' ' + admin.last_name }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ admin.email }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ admin.password }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Contact Number</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ '+' + admin.country_code + ' ' + admin.contact_number }}
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default md-whiteframe-z1 text-color m"
     ng-show="admin_created && client_created && database_updated">
    <div class="panel-heading">
        Client Details (Put these values in client app)
    </div>
    <div class="md-list md-whiteframe-z0 bg-white">
        <div class="md-list-item">
            <div class="md-list-item-content">
                <h3 class="text-md">Client Name</h3>
                <span class="badge bg-danger">{{ client.client_name }}</span>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-content">
                <h3 class="text-md">Client Id</h3>
                <span class="badge bg-danger">{{ client._id }}</span>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-content">
                <h3 class="text-md">Client Secret</h3>
                <span class="badge bg-danger">{{ client.client_secret }}</span>
            </div>
        </div>
        <div class="md-list-item">
            <div class="md-list-item-content">
                <h3 class="text-md">Redirect Url</h3>
                <span class="badge bg-danger">{{ client.redirect_url }}</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a md-ink-ripple type="submit" class="md-btn md-raised pink" ui-sref="authentication.signin">Login Now</a>
    </div>
</div>