<div class="modal-over indigo">
    <div class="modal-center text-center animated fadeInUp" style="width:240px;margin:-120px 0 0 -120px;">
        <div class="m-b">
            <img src="{{ user_info.profile_pic }}" class="w-64 circle">
            <div class="m-t-md font-bold">{{ user_info.full_name }}</div>
        </div>
        <div class="md-form-group">
            <input type="password" class="md-input text-center" ng-model="relogin.password">
            <label class="block w-full">Your Password</label>
        </div>
        <div class="m-t">
            <a href="#/" class="md-btn md-raised pink p-h-md" ng-click="submitReSignIn(relogin)">Unlock</a>
            <a href="#/" class="md-btn md-raised blue p-h-md" ng-click="submitLogOut(relogin)">LogOut</a>
        </div>
    </div>
</div>
