<div class="p-lg panel md-whiteframe-z1 text-color m">
    <div class="m-b text-sm">
        Sign up to your {{app.name}} Account
    </div>
    <div class="m-b-md">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <form name="signup_form">
        <div class="md-form-group">
            <input type="text" class="md-input" ng-model="user.first_name" required ng-minLength="3">
            <label>First Name</label>
        </div>
        <div class="md-form-group">
            <input type="text" class="md-input" ng-model="user.last_name" required ng-minLength="3">
            <label>Last Name</label>
        </div>
        <div class="row row-sm">
            <div class="col-md-3 col-xs-4">
                <div class="md-form-group">
                    <input type="text" class="md-input" ng-model="user.country_code" mask="+999" clean="true"
                           required>
                    <label>Code</label>
                </div>
            </div>
            <div class="col-md-9 col-xs-8">
                <div class="md-form-group">
                    <input type="text" class="md-input" ng-model="user.contact_number" mask="9999-9999-99"
                           clean="true" required>
                    <label>Contact Number</label>
                </div>
            </div>
        </div>
        <div class="md-form-group">
            <input type="email" class="md-input" ng-model="user.email" required>
            <label>Email</label>
        </div>
        <div class="md-form-group">
            <input type="password" class="md-input" ng-model="user.password" required ng-minLength="6">
            <label>Password</label>
        </div>
        <div class="m-b-md">
            <label class="md-check">
                <input type="checkbox" ng-model="agree" required><i class="indigo"></i> Agree the <a href>terms and
                policy</a>
            </label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md"
                ng-click="submitSignUp(user)" ng-disabled="signup_form.$valid ? false : true">Sign up
        </button>
    </form>
</div>
<div class="p-v-lg text-center">
    <div>Already have an account?
        <button ui-sref="authentication.signin" class="md-btn">Sign in</button>
    </div>
</div>