<div class="p-lg panel md-whiteframe-z1 text-color m">
    <div class="m-b text-sm">
        Sign in with your {{ app.name }} Account
    </div>
    <div class="m-b-md">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeMsg($index)">{{alert.msg}}</alert>
    </div>
    <form name="login_form">
        <div class="md-form-group float-label">
            <input type="email" class="md-input" ng-model="member.username" required>
            <label>Email</label>
        </div>
        <div class="md-form-group float-label">
            <input type="password" class="md-input" ng-model="member.password" required ng-minlength="6">
            <label>Password</label>
        </div>
        <button md-ink-ripple type="submit" ng-click="submitSignIn(member)"
                class="md-btn md-raised pink btn-block p-h-md" ng-disabled="login_form.$valid ? false: true">Sign in
        </button>
    </form>
</div>
<div class="p-v-lg text-center">
    <div class="m-b">
        <button ui-sref="authentication.forgot-password" class="md-btn">Forgot password?</button>
    </div>
    <div>Do not have an account?
        <button ui-sref="authentication.signup" class="md-btn">Create an account</button>
    </div>
</div>