<div class="m-b-sm">Theming:</div>
<div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'indigo', accent: 'green', warn: 'amber'}">
        <span class="indigo col-xs-4 box-col"></span>
        <span class="green col-xs-4 box-col"></span>
        <span class="amber col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'green', accent: 'light-green', warn: 'lime'}">
        <span class="green col-xs-4 box-col"></span>
        <span class="light-green col-xs-4 box-col"></span>
        <span class="lime col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'deep-purple', accent: 'blue', warn: 'light-blue'}">
        <span class="deep-purple col-xs-4 box-col"></span>
        <span class="blue col-xs-4 box-col"></span>
        <span class="light-blue col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'blue', accent: 'indigo', warn: 'amber'}">
        <span class="blue col-xs-4 box-col"></span>
        <span class="indigo col-xs-4 box-col"></span>
        <span class="amber col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'cyan', accent: 'teal', warn: 'green'}">
        <span class="cyan col-xs-4 box-col"></span>
        <span class="teal col-xs-4 box-col"></span>
        <span class="green col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'pink', accent: 'deep-purple', warn: 'purple'}">
        <span class="pink col-xs-4 box-col"></span>
        <span class="deep-purple col-xs-4 box-col"></span>
        <span class="purple col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'blue-grey', accent: 'teal-200', warn: 'lime'}">
        <span class="blue-grey col-xs-4 box-col"></span>
        <span class="teal-200 col-xs-4 box-col"></span>
        <span class="lime col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'bg-dark', accent: 'green-300', warn: 'amber-300'}">
        <span class="bg-dark col-xs-4 box-col"></span>
        <span class="green-300 col-xs-4 box-col"></span>
        <span class="amber-300 col-xs-4 box-col"></span>
    </div>
    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
         ng-click="app.setting.theme = {primary: 'bg-white', accent: 'green', warn: 'teal'}">
        <span class="bg-white col-xs-4 box-col"></span>
        <span class="green col-xs-4 box-col"></span>
        <span class="teal col-xs-4 box-col"></span>
    </div>
</div>
