<div class="row row-sm">
    <div class="col-sm-4">
        <div ui-view="profile_user_card@"></div>
    </div>
    <div class="col-sm-8">
        <div ui-view="activities_card@"></div>
    </div>
</div>