<div class="panel panel-default no-margin">
    <div class="panel-heading">
        User Status Change
    </div>
    <div class="panel-body">
            <div class="row m-b">
                <div class="col-md-12">
                    Do you want to change the status of this user ?
                <div>
            </div>
            <div class="row m-t text-center">
                <div class="col-xs-6" ng-if="user_status == 0 || user_status == 2 || user_status == 3">
                    <button class="btn btn-success" ng-click="userChangeStatus(1)">Activate</button>
                </div>
                <div class="col-xs-6" ng-if="user_status == 0 || user_status == 2 || user_status == 1">
                    <button class="btn btn-danger" ng-click="userChangeStatus(3)">Suspend</button>
                </div>
                <div class="col-xs-6" ng-if="user_status == 1 || user_status == 2 || user_status == 3">
                    <button class="btn btn-warning" ng-click="userChangeStatus(0)">DeActivate</button>
                </div>
            </div>
    </div>
</div>