<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="projectForm">
            <md-input-container class="md-block m-t-lg">
                <label>Name</label>
                <input ng-model="permission.name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Display Name</label>
                <input ng-model="permission.display_name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Description</label>
                <input ng-model="permission.description">
            </md-input-container>
            <p><b>Removable - ?</b></p>
            <md-radio-group ng-model="permission.is_removable">
                <md-radio-button value="0" class="md-primary" checked>NO</md-radio-button>
                <md-radio-button value="1">Yes</md-radio-button>
            </md-radio-group>
            <div>
                <md-button class="md-raised md-primary pull-right" ng-click="createPermission(permission)">{{ edit ? "Edit" :
                    "Create"}}
                </md-button>
            </div>
        </form>
    </md-content>
</div>