<div class="panel panel-default">
    <div class="panel-heading">
        {{ Permission.name }}
    </div>
    <div class="panel-body">
        <table class="table m-b-none" ui-jp="footable">
            <tbody>
            <tr>
                <td>Permission Name</td>
                <td>{{ Permission.name }}</td>
            </tr>
            <tr>
                <td>Permission Display Name</td>
                <td><a href>{{ Permission.display_name }}</a></td>
            </tr>
            <tr>
                <td>Permission Description</td>
                <td><a href>{{ Permission.description }}</a></td>
            </tr>
            <tr>
                <td>Permission Removable</td>
                <td>{{ Permission.is_removable ? 'Yes' : 'Not' }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table m-b" ui-jp="footable">
            <thead>
            <tr>
                <td>
                    Roles
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Role in Roles">
                <td>{{ Role.name}}</td>
                <td>
                    <md-switch ng-model="role_switch" class="md-primary no-margin h-1x" md-no-ink
                               aria-label="Switch Role Admin"
                               ng-click="toogleRoleToPermission(Role, Permission)"></md-switch>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>