<ul class="nav nav-lists b-t" ui-nav>
    <li class="active">
        <a md-ink-ripple ui-sref="page.sp.settings.public">Profile</a>
    </li>
    <li>
        <a md-ink-ripple ui-sref="page.sp.settings.account">Account</a>
    </li>
    <li>
        <a md-ink-ripple ui-sref="page.sp.settings.notifications">Notifications</a>
    </li>
</ul>