<div class="r-t pos-rlt" md-ink-ripple style="background:url(images/a1.jpg) center center; background-size:cover">
    <div class="p-lg bg-white-overlay text-center">
        <a href class="w-xs inline">
            <img src="{{ user.profile_pic }}" class="img-circle img-responsive">
        </a>
        <div class="m-b m-t-sm h2">
            <span class="text-black">{{ user.nick_name}}</span>
        </div>
        <a md-ink-ripple="" ui-sref="app.settings.profile"
           class="md-btn md-raised md-fab m-r pull-right bg-white">
            <md-icon class="mdi-image-camera-alt i-24"></md-icon>
        </a>
    </div>
</div>